main{
    height: 100vh;
    background-image: url(../assets/images/background.jpg);
    background-position: center;  
}

#shadow{
    background-color: #000e299d;    
    height: 100vh;
    width: 100vw;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    border-radius: 20px;
    background-color: #D6E3FF;
    width: 50vw;
    padding-bottom: 20px;
}

#logo{
    width: 250px;
    margin-top: -30px;
    margin-bottom: 20px;
}

#options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.option{
    border: 1px solid rgba(0, 0, 0);
    border-radius: 20px;
    width: 228px;
    height: 70px;
}

#aluno{
    background-color: #AEC6FF;
}

#professor{
    background-color: #7998D6;
}

#administrador{
    background-color: #4C6AA6;
}

#aluno:hover,
#professor:hover,
#administrador:hover
{
    color: #000000;
    background-color: #FFF5B0;
}