main{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    height: 100vh;
}

.side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
}

#logo{
    width: 250px;
}

#select-op{
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 3rem;
}

#loginForm{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
}

input, #loginBtn{
    border: 1px solid #37415150;
    border-radius: 40px;
}

input{
    width: 90%;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    border-radius: 50px; 
    background-color: #ececec;
}

#loginBtn{
    width: 25%;
    height: 50px;
    background-color: #FFD24D;
}

.option{
    border: none;
    font-size: large;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    border: 1px solid #374151;
}

.aluno{
    background-color: #aec6ff;
}

.professor{
    background-color: #7998D6;
}

.admin{
    background-color: #4C6AA6;
}

.option.select {
    background-color: #ececec !important;
    color: black !important;
    border: 2px solid #374151 !important;
}

.option:hover{
    background-color: #D6E3FF;
    color: black;
}

#loginBtn:hover{
    background-color: #D9940F;
}

input:hover{
    background-color: #d6d6d6;
}