<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>SchoolLink | Portal Escolar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="layout">
        <div id="sidebar-container"></div>

        <main>
            <h1>Bem-vindo à página de notas</h1>

        </main>
    </div>

    <script>
        fetch('sidebar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('sidebar-container').innerHTML = data;
            });
    </script>
</body>

</html>